li {
	float: right;
	list-style-type: none;
	width: 6em;
}

li:nth-child(even) {
	clear: right;
}

fieldset {
	width: 24em;
	background-color: lightgrey;
}

legend {
	background-color: white;
	outline-width: 1px;
	outline-color: black;
	outline-style: solid;
}

body {
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 50%;
	height: 100%;
	width: 100%;
}

html {
	height: 100%;
	body: 100%;
}